<div id="pins">


    <% @pins.each do |pin| %>

        <div class="box">
            <%= image_tag pin.image.url(:medium) %>
            <%= pin.id %>
            <%= pin.description %>
            <%= pin.user_id %>
            <%= pin.user.email %>
            <%= link_to 'Show', pin_path(pin) %>

            <% if pin.user == current_user %>
                <!-- ONLY SHOW EDIT & DESTROY BUTTONS IF THIS PIN WAS CREATED BY THE CURRENT USER -->
                <%= link_to 'Edit', edit_pin_path(pin) %>&nbsp;&nbsp;
                <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>  <!-- END BOX DIV -->

    <% end %>


</div>