<%= render 'pages/home' unless user_signed_in? %>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
      <div class="box panel panel-default">
          <%= link_to image_tag(pin.image.url(:medium)), pin %>
            <div class="panel-body">
              <div class="pinDescription">
                <%= pin.description %>
                </br>
                <strong><%= pin.user.email %></strong>
                </br>
                <% if pin.user == current_user %>
                    <!-- ONLY SHOW EDIT & DESTROY BUTTONS IF THIS PIN WAS CREATED BY THE CURRENT USER -->
                    <!-- EDIT -->
                    <%= link_to edit_pin_path(pin) do %>
                          <span class="glyphicon glyphicon-edit"></span> Edit
                    <% end %>
                    <!-- DELETE -->
                    <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    <% end %>
                <% end %>
              </div>
            </div>
      </div>
    <% end %>
</div>



<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>


