<!DOCTYPE html>
<html>
<head>
  <title>Pinterest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- ADD VIEWPORT FOR MOBILE DEVICE SUPPORT -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- INCLUDE THE NAVBAR -->
    <%= render 'layouts/header' %>












    <!-- WRAP ALL THE PAGE CONTENT INSIDE A CONTAINER DIV -->
    <div class="container">
      <!-- FLASH MESSAGES -->
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>

      <%= yield %>
    </div>


</body>
</html>
